<!DOCTYPE html public "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Пример кода на php (Тур-Календарь)</title>
</head>

<body class="home_body">
<h2>Страны и города. Тур-Календарь</h2>

<table>
    <thead>
    <tr>
        <td>Город/Страна</td>
    </tr>
    </thead>
    <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.name }}
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>


